@charset "UTF-8";

@font-face{
 font-family: 'digital-clock-font';
 src: url('digital-7.ttf');
}

:root {
  --console-background-color: #EAEDED;
  --osc-color: #F9E79F;
  --osc-shadow-color: #D4AC0D;
  --freq-color: #229954;
  --running-freq-color: #909497;
  --border-color: #7F8C8D;
  --config-height: 150px;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background: #20262E;
  font-family: Helvetica;
}

.banner-message {
  background: #fff;
  border-radius: 4px;
  padding: 10px;
  font-size: 15px;
  text-align: center;
  transition: all 0.2s;
  margin: 0 auto;
}
.clickable {
  text-align: left;
}

button {
    background: #0084ff;
    border: none;
    border-radius: 5px;
    padding: 8px 14px;
    margin-top: 10px;
    color: #fff;
    cursor: pointer;
    font-size: large;
}

.footer {
    background: #6D7B84;
    border-radius: 4px;
    padding: 10px;
    font-size: xx-small;
    text-align: center;
    transition: all 0.2s;
    margin: 1em auto;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.section-title {
    font-weight: bold;
}

.app-title {
    font-size: large;
    color: white;
    text-align: center;
    padding: 0em;
    background-color: #08E;
}

.clickable {
    display: block;
    height: 90px;
}

.ui-accordion .ui-accordion-header {
    padding: 0;
}

.text-muted {
	background-color: lightgray;
}

.freq {
	font-family: 'digital-clock-font', Arial;
	font-size: 48px;
	/*text-shadow: 2px 2px 2px var(--osc-shadow-color);	*/
	color: var(--freq-color);
	cursor: default;
}

.freq-hz-text {
	font-size: 18px;
	/*text-shadow: 2px 2px 2px var(--osc-shadow-color);	*/
	cursor: default;
}

.duty {
	font-family: 'digital-clock-font', Arial;
	font-size: 48px;
	/*text-shadow: 2px 2px 2px var(--osc-shadow-color);	*/
	color: var(--freq-color);
	cursor: default;
	margin-bottom: 5px;
}

.mini-text {
	font-size: 12px;
	/*text-shadow: 2px 2px 2px var(--osc-shadow-color);	*/
	margin: 2px 2px 2px 2px;
	cursor: default;
}

.separator {
	margin-top: 8px;
}

.osc-number {
	font-size: 25px;
}

.no-select {
	user-select: none;
}

.command-output {
	width: calc(100% - 6px); 
	height: 120px;  
	font-family: Lucida Console,Lucida Sans Typewriter,monaco,Bitstream Vera Sans Mono,monospace;
	font-size: small;
	background-color: var(--console-background-color);
	border: 1px solid #BDC3C7;
	resize: vertical;
	padding-left: 4px;
	line-height: 1.25;
}

.command-input {
	background-color: var(--console-background-color);
	float:left;
	border: 1px solid #BDC3C7;
	margin-left: 2px;
	height: 24px;
	padding-left: 4px;
}

.console {
	background-color: var(--console-background-color);
	border: 1px solid var(--border-color);
}

#oscillators {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
	justify-content: space-between;
}

.oscillator {
	background-color: var(--osc-color);
	border: 1px solid var(--border-color);
	margin: auto;
	margin-top: 8px;
	min-width: 350px;
	max-width: 450px;
	width: 100%;
}

.slider {
  -webkit-appearance: none;
  height: 20px;
  width: 90%;
  background: #F4D03F;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 4px;
  height: 25px;
  background: #04AA6D;
  cursor: pointer;
  border: 1px solid #626567;
}
.slider::-moz-range-thumb {
  width: 4px;
  height: 25px;
  background: #04AA6D;
  cursor: pointer;
  border: 1px solid #626567;
}

.id-div {
	border: 1px solid var(--border-color);
	padding-bottom: 0px;
	border-bottom: none;
}

.freq-div {
	border: 1px solid var(--border-color);
	width: 75%;
	float: left;
	height: var(--config-height);
}

.duty-div {
	border: 1px solid var(--border-color);
	margin-left: 75%;
	height: var(--config-height);
}

.duty-div .mini-text {
	text-align: left;
	margin-left: 26px;
}

.duty-div .slider {
    -webkit-transform-origin: 0 100%;
    -webkit-transform: rotate(-90deg);
    -moz-transform-origin: 0 100%;
    -moz-transform: rotate(-90deg);
    -ms-transform-origin: 0 100%;
    -ms-transform: rotate(-90deg);
    transform-origin: 0 100%;
    transform: rotate(-90deg);    
	
	vertical-align:top;
	display: inline-block;
	margin-left: calc(100% - 4px);
	margin-top: -25%;
	width: 137px;
}

.config-container {
  margin: auto;
  height: var(--config-height);
}

.set-button {
	height: 24px;
	width: 48px;
}

.reset-button {
	height: 24px;
	width: 48px;
}

.step-button {
	height: 24px;
	width: 32px;
}

.step {
	width: 22px;
	height: 20px;
	text-align: center;
	color: #566573;
}

.op-container {
	margin: auto;
}

.incr-config {
	width: 50%;
	float: left
}

.mult-config {
	margin-left: 50%;
}

.top-buttons {
	margin: auto; 
	width: 142px;
	background-color: #FCF3CF;
}

.clear-button {
	float:right;
}


