@charset "UTF-8";

@font-face{
 font-family: 'digital-clock-font';
 src: url('digital-7.ttf');
}

:root {
  color-scheme: light;
  --back-color: #fff;
  --title-back-color: #08E;
  --title-color: white;
  --console-background-color: #f2f8ff;
  --osc-color: #F9E79F;
  --osc-shadow-color: #D4AC0D;
  --freq-color: #229954;
  --duty-color: #229954;
  --running-freq-color: #909497;
  --running-duty-color: #909497;
  --border-color: #7F8C8D;
  --main-button-color: #0084ff;
  --step-button-color: #75b936;
  --body-color: #2d2d2d;
  --slider-back-color: #F4D03F;
  --note-color: #626567;
  --footer-back-color: lightgray;
  --slider-color: #04AA6D;
  --switch-on-color: #75b936;
}

.dark-mode {
  color-scheme: dark;
  --back-color: #000;
  --title-back-color: #17314a;
  --title-color: #08E;
  --console-background-color: #252525;
  --osc-color: #040404;
  --osc-shadow-color: #D4AC0D;
  --freq-color: #12FB71;
  --duty-color: #12FB71;
  --running-freq-color: #909497;
  --running-duty-color: #909497;
  --border-color: #566B6D;
  --main-button-color: #215382;
  --step-button-color: #366AB9;
  --body-color: #D6CDCD;
  --slider-back-color: #676148;
  --note-color: #909294;
  --footer-back-color: #404040;
  --slider-color: #00ffa1;
  --switch-on-color: #64903b;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Helvetica;
  color: var(--body-color);
  background-color: var(--back-color);
}

.banner-message {
  background: var(--back-color);
  padding: 10px;
  font-size: 15px;
  text-align: center;
  transition: all 0.2s;
  margin: 0 auto;
}
.clickable {
  text-align: left;
}

button {
    background: var(--main-button-color);
    border: none;
    border-radius: 5px;
    padding: 5px 12px;
    margin-top: 6px;
	margin-bottom: 6px;
    color: #fff;
    cursor: pointer;
    font-size: large;
}

button:disabled {
	background: gray;
}

.footer {
    background: #6D7B84;
    border-radius: 4px;
    padding: 10px;
    font-size: xx-small;
    transition: all 0.2s;
    
	margin: 1em auto;
	
	display: flex;
	justify-content: center;
	position: relative;
	bottom: 0px;
	background-color: var(--footer-back-color);
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.section-title {
    font-weight: bold;
}

.app-title {
    font-size: small;
    color: var(--title-color);
    text-align: center;
    padding: 0em;
    background-color: var(--title-back-color);
}

.clickable {
    display: block;
    height: 90px;
}

.ui-accordion .ui-accordion-header {
    padding: 0;
}

.freq {
	font-family: 'digital-clock-font', Arial;
	font-size: 48px;
	/*text-shadow: 2px 2px 2px var(--osc-shadow-color);	*/
	color: var(--freq-color);
	cursor: default;
}

.note {
	color: var(--note-color);
	vertical-align: 1.37em;
	margin-left: -25px;
}

.freq-hz-text {
	font-size: 18px;
	cursor: default;
}

.mini-text {
	font-size: 12px;
	margin: 2px 2px 2px 2px;
	cursor: default;
}

.separator {
	margin-top: 8px;
}

.osc-number {
	font-size: 25px;
}

.no-select {
	user-select: none;
}

.command-output {
	width: calc(100% - 6px); 
	height: 40px;  
	font-family: Lucida Console,Lucida Sans Typewriter,monaco,Bitstream Vera Sans Mono,monospace;
	font-size: x-small;
	background-color: var(--console-background-color);
	border: 1px solid #BDC3C7;
	resize: vertical;
	padding-left: 4px;
	line-height: 1.20;
}

.command-input {
	background-color: var(--console-background-color);
	float:left;
	border: 1px solid #BDC3C7;
	margin-left: 2px;
	height: 24px;
	padding-left: 4px;
}

.console {
	background-color: var(--console-background-color);
	border: 1px solid var(--border-color);
	font-size: x-small;
	margin: 8px 2px 2px 2px;
	cursor: default;
	
}

#oscillators {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
	justify-content: space-around;
}

.oscillator {
	background-color: var(--osc-color);
	border: 1px solid var(--border-color);
	margin-top: 8px;
	min-width: 350px;
	max-width: 450px;
	width: 100%;
}

.slider {
  -webkit-appearance: none;
  height: 20px;
  
  background: var(--slider-back-color);
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 4px;
  height: 25px;
  background: var(--slider-color);
  cursor: pointer;
  border: 1px solid #626567;
}
.slider::-moz-range-thumb {
  width: 4px;
  height: 25px;
  background: var(--slider-color);
  cursor: pointer;
  border: 1px solid #626567;
}

.duty-div .slider {
	width: 82%;
	margin-top: 8px;
}
.freq-div .slider {
	width: 90%;
}

.id-div {
	border: 1px solid var(--border-color);
	padding-bottom: 0px;
	border-bottom: none;
}

.freq-div {
	border: 1px solid var(--border-color);
	padding-top: 5px;
	width: 70%;
}

.duty-div {
	border: 1px solid var(--border-color);
	width: 30%;
}

.duty {
	cursor: default;
	display: contents;
}

.duty-text {
	font-family: 'digital-clock-font', Arial;
	font-size: 32px;
	color: var(--duty-color);
}

.duty-div .mini-text {
	text-align: center;
	margin-left: 30px;
	width: 40px;
}

.duty-perc-text {
	font-size: 18px;
	cursor: default;
}

.config-container {
  margin: auto;
  display: flex;
}

.set-button {
	height: 24px;
	width: 48px;
}

.reset-button {
	height: 24px;
	width: 48px;
}

.step-button, .mult-button {
	height: 30px;
	width: 30px;
    background: var(--step-button-color);
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-size: large;
}

.top-buttons button {
	width: 62px;
	height: 36px;
	padding: 3px;
}

.step {
	width: 22px;
	height: 24px;
	text-align: center;
	margin-right: 4px;
	margin-left: 4px;
}

.op-container {
	margin-top: 8px;
}
.set-duty-buttons {
	margin-top: 8px;
}

.incr-config {
	width: 45%;
	float: left;
	display: flex;
	align-content: flex-end;
	justify-content: center;
	align-items: flex-end;
}

.mult-config {
	display: flex;
	align-items: flex-end;
	align-content: flex-end;
	justify-content: space-evenly;
	margin-right: 10px;
}

.top-buttons {
	margin: auto; 
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	
	background-color: var(--console-background-color);
	border: 1px solid var(--border-color);
	font-size: x-small;
	
}

#div-config {
	border: 1px solid var(--border-color);
	font-size: large;
}

#div-config div {
	margin-top: 10px;
	margin-bottom: 10px;
}

.clear-button {
	float:right;
}

.restart-button {
	float:left;
}

.set-duty-buttons .step-button {
	font-size: x-small;
}

.presets-text {
	font-size: x-small;
	margin-bottom: 4px;
}

.presets label {
  display: inline-block;
  text-align: center;
  margin: 0px 5px 0px 0px;
  font-size: x-small;
}
.presets label input[type="radio"] {
  display: block;
  transform: scale(1.2);
}	

.osc-config {
	float: left;
	margin-top: 1px;
	margin-left: 4px;
	display: flex;
	align-items: center;
}

.osc-config label {
  display: inline-block;
  text-align: center;
  /*margin: 0px 10px 0px 0px;*/
  font-size: x-small;
}

.osc-config input[type=checkbox] {
	display: block;
	margin-right: 8px;
	margin-left: 8px;
	transform: scale(1.1);
}
